// Colors
$s-cyan: hsl(174, 77%, 80%);
$str-cyan: hsl(174, 86%, 45%);
$lg-red: hsl(14, 92%, 95%);
$l-red: hsl(15, 100%, 70%);
$p-blue: hsl(226, 100%, 87%);

$white: hsl(0, 0%, 100%);
$vp-blue: hsl(230, 100%, 99%);
$lg-blue: hsl(224, 65%, 95%);
$g-blue: hsl(225, 20%, 60%);
$dd-blue: hsl(227, 35%, 25%);
