@import "variables";

// HTML ELEMENT PRESETS
html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-color: $vp-blue;
    font-family: 'Manrope', sans-serif;
    margin: 0 auto;
    max-width: 1440px;
    overflow-x: hidden;
    padding: 0 2rem;
    position: relative;

    &::before {
        content: url(images/bg-pattern.svg);
        left: 0;
        position: absolute;
        z-index: -1;
    }
}

h1,
h2,
h3,
p {
    margin: 0;
}

h1 {
    font-size: 1.75rem;
    margin-bottom: 0.875rem;
}

header {
    padding: 6.6875rem 0 0;
    position: relative;
    text-align: center;

    br {
        display: none;
    }

    &::before {
        content: url("images/pattern-circles.svg");
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        top: 40%;
        z-index: -1;
    }
}

form {
    background-color: $white;
    box-shadow: 0 0 1.5rem rgba(100, 100, 100, 0.1);
    border-radius: 0.5rem;
    display: grid;
    grid-template-rows: 16.375rem auto;
    height: 24.875rem;
    margin: 5.625rem auto 5rem;
    width: 33.75rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        color: $g-blue;
        font-size: 0.75rem;
        padding-left: 1.625rem;
        position: relative;

        &::before {
            content: url("images/icon-check.svg");
            left: 0;
            position: absolute;
        }
    }

    li:not(:last-of-type) {
        margin-bottom: 0.65rem;
    }
}

button {
    align-items: center;
    background-color: $dd-blue;
    border-radius: 2rem;
    border: none;
    color: $white;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    font-size: 0.75rem;
    font-family: 'Manrope', sans-serif;
    justify-content: center;
    height: 2.5625rem;
    outline: none;
    transition: color 0.3s ease,
                transform 0.3s ease;
    width: 10.625rem;

    &:focus {
        box-shadow:  0 0 1px 2px $white,
                        0 0 1px 4px $str-cyan;
    }

    &:hover {
        color: $s-cyan;
        transform: scale(0.95);
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

// PRIMARY
.top {
    border-bottom: 1px solid rgba(70, 90, 50, 0.1);
    display: grid;
    gap: 1rem 0;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    padding: 2.625rem 2.875rem 0;

    &__views {
        margin-top: 1.2rem;
    }

    &__price {
        justify-self: flex-end;
    }

    &__billings {
        grid-column: 1 / 3;
        margin: 2rem 0;
        padding-right: 2rem;
        text-align: right;

        &:focus-within label:first-of-type::after {
            box-shadow:  0 0 1px 2px $white,
                        0 0 1px 4px $str-cyan;
        }
    }

    &__month {
        cursor: pointer;
        padding-right: 3rem;
        position: relative;
        transition: text-shadow 0.3s ease;
        z-index: 4;

        &:hover {
            text-shadow: 0 0 1px rgba(50, 50, 50, 0.5);
        }

        &:hover::after {
            background-color: $lg-blue;
        }

        &::after {
            content: "";
            border-radius: 2rem;
            background-color: $s-cyan;
            margin: 0 0.8rem ;
            position: absolute;
            transition: background-color 0.3s ease;
            height: 1.6rem;
            width: 2.625rem;
        }

        &::before {
            content: "";
            background-color: $white;
            border-radius: 50%;
            height: 1.25rem;
            position: absolute;
            transition: right 0.3s ease;
            top: -0.075rem;
            right: -0.25rem;
            width: 1.25rem;
            z-index: 1;
        }
    }

    &__year {
        cursor: pointer;
        margin-left: -2rem;
        padding-left: 3rem;
        position: relative;
        transition: text-shadow 0.3s ease;
        z-index: 3;

        &:hover {
            text-shadow: 0 0 1px rgba(50, 50, 50, 0.5);
        }
    }
}

.bottom {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2.875rem 1rem;
}

#monthly:checked{
    
    & + label {
        z-index: 2;
    }

    & + label::before {
        right: 0.75rem;
    }

    & + label::after {
        background-color: $lg-blue;
    }

    & + label:hover::after {
        background-color: $s-cyan;
    }
} 

.slider {
    grid-column: 1 / 3;

    &:focus-within #sliderpage::-webkit-slider-thumb {
        box-shadow:  0 0 1px 2px $white,
                0 0 1px 4px $str-cyan;
    }
}

#sliderpage {
    appearance: none;
    background: linear-gradient(to right, $s-cyan 0%, $s-cyan 50%, hsl(224, 65%, 95%) 50%, hsl(224, 65%, 95%) 100%);
    border-radius: 1rem;
    height: 8px;
    outline: none;
    width: 100%;

    &::-webkit-slider-thumb {
        appearance: none;
        background: url("images/icon-slider.svg") no-repeat center;
        background-color: $str-cyan;
        border-radius: 50%;
        cursor: pointer;
        height: 40px;
        transition: background-color 0.3s ease;
        width: 40px;

        &:hover {
            background-color: hsl(174, 70%, 56%);
        }

        &:active {
            background-color: #24AD9F;
        }
    }
}

input[type=radio] {
    opacity: 0;
    position: absolute;

    &:first-of-type {
        margin-top: 0.5rem;
        width: 5rem;
    }

    &:last-of-type {
        margin: 0.5rem 0 0 1.1rem;
        width: 4.4rem;
    }
}

// CUSTOM
.d-text {
    color: $dd-blue;
}

.f-40 {
    color: $dd-blue;
    font-size: 2.5rem;
    font-weight: 800;
}

.f-16 {
    color: $g-blue;
    font-size: 1rem;
}

.f-14 {
    color: $g-blue;
    font-size: 0.875rem;
    font-weight: 800;
    letter-spacing: 1px;
}

.f-12 {
    color: $g-blue;
    font-size: 0.75rem;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.discount {
    background-color: hsl(15, 80%, 96%);
    border-radius: 2rem;
    color: $l-red;
    font-weight: 800;
    padding: 0.2rem 0.5rem;
}
// MEDIAS
@media (max-width: 37.5rem) {

    // HTML ELEMENTS
    header {
        br {
            display: block;
        }
    }

    h1 {
        font-size: 1.375rem;
    }

    form {
        grid-template-rows: repeat(2, auto);
        margin: 3.625rem auto 4rem;
        height: 30rem;
        width: 100%;
    }

    // PRIMARY
    .top {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        padding: 2.625rem 1.5rem 2rem;
        text-align: center;

        &__views {
            grid-row: 1 / 2;
            margin-top: 0;
        }

        &__price {
            justify-self: center;
            grid-row: 3 / 4;
        }

        &__billings {
            justify-self: center;
            grid-row: 4 / 5;
            margin: 0;
            padding: 0;
        }
    }

    .bottom {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .slider {
        grid-row: 2 / 3;
    }

    .discount > span {
        display: none;
    }
}