html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

body {
  background-color: #fafbff;
  font-family: 'Manrope', sans-serif;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.bold {
  color: #293356;
  font-weight: 800;
  font-size: 38px;
  margin-right: 0.2rem;
}

.top {
  background-color: #eaeefb;
  border-bottom-left-radius: 9rem;
  height: 420px;
  position: relative;
  padding: 5.25rem 0;
  text-align: center;
}

.top br {
  display: none;
}

.top__overlay {
  left: 50%;
  position: absolute;
  top: 4rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.top__title {
  font-size: 29px;
  margin-bottom: 1rem;
  position: relative;
  z-index: 10;
}

.top__desc {
  color: #858fad;
  position: relative;
  z-index: 10;
}

.price {
  -webkit-box-shadow: 0 0 16px rgba(85, 85, 85, 0.1);
          box-shadow: 0 0 16px rgba(85, 85, 85, 0.1);
  border-radius: 0.5rem;
  background-color: white;
  color: #858fad;
  margin: 0 auto;
  padding: 3rem 0;
  position: relative;
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
  width: 580px;
}

.price__section_1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2.5rem;
}

.price__views {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
}

.price__price {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  margin-top: 2rem;
  padding: 0 2.5rem;
  position: relative;
  width: 100%;
}

.slider__range {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: -webkit-gradient(linear, left top, right top, from(#a5f3eb), color-stop(50%, #a5f3eb), color-stop(50%, #eaeefb), to(#eaeefb));
  background: linear-gradient(to right, #a5f3eb 0%, #a5f3eb 50%, #eaeefb 50%, #eaeefb 100%);
  border-radius: 1rem;
  outline: none;
  height: 8px;
  width: 100%;
}

.slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  background: url("images/icon-slider.svg") no-repeat center;
  background-color: #10d5c2;
  -webkit-box-shadow: 0 16px 32px 10px #c3f3ee;
          box-shadow: 0 16px 32px 10px #c3f3ee;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  width: 40px;
}

.slider__range::-webkit-slider-thumb:hover, .slider__range::-webkit-slider-thumb:active {
  background-color: #a5f3eb;
}

.mobile_price {
  display: none;
}

.billing {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 3.5rem 0;
  padding: 0 2.5rem;
}

.billing__tag {
  font-size: 0.9rem;
  font-weight: 600;
}

.billing #bill {
  display: none;
}

#bill:checked ~ .billing__lbl {
  background-color: #a5f3eb;
}

#bill:checked ~ .billing__lbl::after {
  left: 50%;
}

.billing__lbl {
  background-color: #e6e7ea;
  border-radius: 2rem;
  cursor: pointer;
  height: 1.7rem;
  margin: 0 1.5rem;
  position: relative;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  width: 3.5rem;
}

.billing__lbl::after {
  content: "";
  background-color: white;
  border-radius: 50%;
  height: 20px;
  left: 10%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  width: 20px;
}

.billing__price {
  background-color: #feece7;
  border-radius: 2rem;
  color: #ff8c66;
  font-size: 0.7rem;
  font-weight: 800;
  margin-left: 1rem;
  padding: 0.2rem 0.5rem;
}

.trial {
  border-top: 1px solid rgba(65, 65, 65, 0.1);
  padding: 2rem 2.5rem;
}

.trial__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trial__holder {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

.trial__desc {
  font-size: 0.9rem;
  font-weight: 600;
  margin-left: 0.7rem;
}

.trial__button {
  background-color: #293356;
  border-radius: 2rem;
  color: #dedede;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.7rem 2.5rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.trial__button:hover {
  color: white;
}

@media (max-width: 600px) {
  .top {
    padding: 5.25rem 2rem;
  }
  .top br {
    display: block;
  }
  .top__title {
    font-size: 24px;
  }
  .price {
    width: 90%;
  }
  .price__section_1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price__price {
    display: none;
  }
  .slider {
    padding: 0 1.5rem;
  }
  .billing {
    padding: 0 1.2rem;
  }
  .billing__tag {
    font-size: 0.8rem;
  }
  .billing__lbl {
    margin: 0 0.5rem;
  }
  .billing__price {
    margin: 0 0.4rem;
  }
  .billing__price span {
    display: none;
  }
  .mobile_price {
    display: block;
    margin-top: 2.5rem;
    text-align: center;
  }
  .billing {
    margin: 2.5rem 0;
  }
  .trial__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .trial__block {
    display: block;
    text-align: center;
  }
  .trial__holder {
    display: block;
  }
  .trial__desc {
    display: inline-block;
  }
  .trial__button {
    margin: 1.5rem 0;
  }
}
/*# sourceMappingURL=style.css.map */