@import "variables";

html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-color: $vp-blue;
    font-family: 'Manrope', sans-serif;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

// Custom Items
.bold {
    color: $dd-blue;
    font-weight: 800;
    font-size: 38px;
    margin-right: 0.2rem;
}


// Primary 
.top {
    background-color: $lg-blue;
    border-bottom-left-radius: 9rem;
    height: 420px;
    position: relative;
    padding: 5.25rem 0;
    text-align: center;
    
    br {
        display: none;
    }

    &__overlay {
        left: 50%;
        position: absolute;
        top: 4rem;
        transform: translateX(-50%);
    }
    
    &__title {
        font-size: 29px;
        margin-bottom: 1rem;
        position: relative;
        z-index: 10;
    }

    &__desc {
        color: $g-blue;
        position: relative;
        z-index: 10;
    }
}

.price {
    box-shadow: 0 0 16px rgba(85, 85, 85, 0.1);
    border-radius: 0.5rem;
    background-color: $white;
    color: $g-blue;
    margin: 0 auto;
    padding: 3rem 0;
    position: relative;
    transform: translateY(-10rem);
    width: 580px;

    &__section_1 {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0 2.5rem;
    }

    &__views {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 2px;  
    }

    &__price {
        align-items: center;
        display: flex;
    }
}

.slider {
    margin-top: 2rem;
    padding: 0 2.5rem;
    position: relative;
    width: 100%;

    &__range {
        appearance: none;
        background: linear-gradient(to right, $s-cyan 0%, $s-cyan 50%, $lg-blue 50%, $lg-blue 100%);
        border-radius: 1rem;
        outline: none;
        height: 8px;
        width: 100%;
    }

    &__range::-webkit-slider-thumb {
        appearance: none;
        background: url("images/icon-slider.svg") no-repeat center;
        background-color: $str-cyan;
        box-shadow: 0 16px 32px 10px hsl(174, 67%, 86%);
        border-radius: 50%;
        cursor: pointer;
        height: 40px;
        transition: background-color 0.3s ease;
        width: 40px;
    }

    &__range::-webkit-slider-thumb:hover,
    &__range::-webkit-slider-thumb:active {
        background-color: $s-cyan;
    }
}

.mobile_price {
    display: none;
}

.billing {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 3.5rem 0;
    padding: 0 2.5rem;

    &__tag {
        font-size: 0.9rem;
        font-weight: 600;
    }

    #bill {
        display: none;
    }

    #bill:checked ~ &__lbl {
        background-color: $s-cyan;
    }

    #bill:checked ~ &__lbl::after {
        left: 50%;
    }

    &__lbl {
        background-color: hsl(225, 8%, 91%);
        border-radius: 2rem;
        cursor: pointer;
        height: 1.7rem;
        margin: 0 1.5rem;
        position: relative;
        transition: background-color 0.3s ease;
        width: 3.5rem;
    }

    &__lbl::after {
        content: "";
        background-color: $white;
        border-radius: 50%;
        height: 20px;
        left: 10%;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        transition: left 0.3s ease;
        width: 20px;
    }

    &__price {
        background-color: $lg-red;
        border-radius: 2rem;
        color: $l-red;
        font-size: 0.7rem;
        font-weight: 800;
        margin-left: 1rem;
        padding: 0.2rem 0.5rem;
    }
}

.trial {
    border-top: 1px solid rgba(65, 65, 65, 0.1);
    padding: 2rem 2.5rem;

    &__container {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__holder {
        align-items: center;
        display: flex;
        margin: 1rem 0;
    }

    &__desc {
        font-size: 0.9rem;
        font-weight: 600;
        margin-left: 0.7rem;
    }

    &__button {
        background-color: $dd-blue;
        border-radius: 2rem;
        color: #dedede;
        cursor: pointer;
        font-size: 0.9rem;
        font-weight: 600;
        padding: 0.7rem 2.5rem;
        transition: color 0.3s ease;
    }

    &__button:hover {
        color: $white;
    }
}
// Medias

@media (max-width: 600px) {

    .top {
        padding: 5.25rem 2rem;
        br {
            display: block
        }
        &__title {
            font-size: 24px;
        }
    }

    .price {
        width: 90%;

        &__section_1 {
            justify-content: center;
        }

        &__price {
            display: none;
        }
    }

    .slider {
        padding: 0 1.5rem;
    }

    .billing {
        padding: 0 1.2rem;

        &__tag {
            font-size: 0.8rem;
        }

        &__lbl {
            margin: 0 0.5rem;
        }

        &__price {
            margin: 0 0.4rem;
        }

        &__price span {
            display: none;
        }
    }

    .mobile_price {
        display: block;
        margin-top: 2.5rem;
        text-align: center;
    }

    .billing {
        margin: 2.5rem 0;
    }

    .trial {

        &__container {
            flex-direction: column;
        }

        &__block {
            display: block;
            text-align: center;
        }

        &__holder {
            display: block;
        }

        &__desc {
            display: inline-block;
        }

        &__button {
            margin: 1.5rem 0;
        }
    }
}